<!DOCTYPE html>
<html lang="Eng">
<head>
<meta charset="ISO-8859-1">
<title>Admin Page</title>
</head>
<body>

	<h2>Well Come To Admin Page...!!!</h2>
	<br>

	<div>
		* Create Account <a href="/create">Click here</a>
	</div>
	<div>
		* Search Account <a href="/getbyid">Click here</a>
	</div>
	<div>
		 * Get All Account <a href="/accounts">Click here</a>
	</div>
	
	<div>
		* Remove Account <a href="/removeform">Click here</a>
	</div>
	<div>
		 * Found Transfer <a href="/transferform">Click here</a>
	</div>
	<div>
		* Deposit <a href="/dp">Click here</a>
	</div>
	-----------------------------------------------------------------------------------------
	<div>
		* Withdraw <a href=" ">Click here</a> (This service use only in bank)
	</div>
	
	<div>
		* Update Account <a href=" ">Click here</a>
	</div>
	<div>
		<br> <br> <br> LogOut <a href=/adminlogin>Click
			here</a>
	</div>
	
	<a href="javascript:history.back()">Go Back</a>


</body>
</html>