<!DOCTYPE html>
<html lang="Eng">
<head>
<meta charset="ISO-8859-1">
<title>Admin Page</title>
</head>
<body>

	<h2>Well Come To Admin Page...!!!</h2>

	<div>
		Create Account <a href="/create">Click here</a>
	</div> <br>
	<div>
		Search Account <a href=" ">Click here</a>
	</div><div><br>
		Update Account <a href=" ">Click here</a>
	</div><div><br>
		Get All Account <a href="/accounts">Click here</a>
	</div><div><br>
		Delete Account <a href=" ">Click here</a>
	</div><div><br>
		Found Transfer <a href=" ">Click here</a>
	</div><div><br>
		Deposit <a href=" ">Click here</a>
	</div><div><br>
		Withdraw <a href=" ">Click here</a>
	</div><div><br><br>
		Return WellCome Page <a href="ramkrishna">Click here</a>
	</div>
	 

</body>
</html>