<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Deposit form</title>
<style>
 body{
        
        background-color: aqua;
        text-align: center;
        
    }
</style>
</head>
<body>

<body>
    <h2>Deposit Form</h2>
    <p th:text="${msg"></p>
        <p th:text="${depositResult}"></p>
    

    <form th:action="@{/deposit}" method="post" th:object="${deposit}">
        <!-- Your form fields go here -->
       
        
        <input type="text" id="anumber" name="anumber" required placeholder="Enter Account Number">
        <input type="text" id="amount" name="amount" required placeholder="Enter Amount">
        
        <button type="submit">Deposit</button>
        
    </form>
    
    <a href="javascript:history.back()">Go Back</a>
    
</body>
</html>
