<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Enter Account Number</title>
    <style>
 body{
        
        background-color: aqua;
        text-align: center;
        
    }
</style>
</head>
<body>
    <h1>Enter Account Number</h1>

    <form action="/account" method="get">
        <input type="text" id="anumber" name="anumber" required>
        <button type="submit">Search</button>
    </form>
    
    <a href="javascript:history.back()">Go Back</a>
</body>
</html>
