<!DOCTYPE html>
<html lang="Eng">
<head>
<meta charset="ISO-8859-1">
<title>User Page</title>
<style>
 body{
        
        background-color: aqua;
        text-align: center;
        
    }
</style>
</head>
<body>

	<h2>Well Come User Page...!!!</h2>
         
	<div>
		Create Account <a href="/create">Click here</a>
	</div><br>
	<div>
		LogIn <a href="/userlogin">Click here</a>
	</div>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<div>
		Return WellCome Page <a href="ramkrishna">Click here</a>
	</div>
	
	<a href="javascript:history.back()">Go Back</a>


</body>
</html>