<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Dashboard</title>
</head>
<body>
	<p th:text=${usermsg} />
	<br>
	<p th:text=${balance} />

	
	
	<div>
		 * Found Transfer <a href="/transferform">Click here</a>
	</div>
	<div>
		* Deposit <a href="/dp">Click here</a>
	</div>
	<div>
		* Delete Account <a href="/removeform">Click here</a>
	</div>
<br><br>
	<div>
		Log Out <a href="/userlogin">Click here</a>
	</div>
	
	<a href="javascript:history.back()">Go Back</a>


</body>
</html>